
.our-stories-section {
  padding: 6rem 4rem; 
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.story-left-col {
  z-index: 5;
}
.story-intro h2 {
  font-family: 'Halant', serif;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}
.story-intro p {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
  max-width: 450px;
}
.stats-container {
  display: flex;
  margin-top: 4rem;
}
.stat-item {
  position: relative;
  margin: 0 -10px;
}
.stat-item img {
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

}
.stat-1 { transform: rotate(-8deg); z-index: 1; }
.stat-2 { transform: rotate(2deg); z-index: 2; margin-top: 10px; }
.stat-3 { transform: rotate(10deg); z-index: 3; }
.stat-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.stat-text h3 {
  font-family: 'Halant', serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #0F3255;
  margin-bottom: -5px;
}
.stat-text p {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}


.story-right-col {
  position: relative; 
  min-height: 80vh; 
}

.story-headline {
  font-family: 'Island Moments', cursive;
  font-size: 3.5rem;
  font-weight: 400;
  color: #0F3255;
  line-height: 1.4;
  text-align: right; 
  z-index: 5;
  position: relative;
  padding-right: 2rem;
}

.graphic-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mountain-img {
  position: absolute;
  bottom: 0;  
  right: 0;   
  width: 100%;
  max-width: 550px;
  z-index: 2;
}

.float-logo {
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

.logo-coke {
  top: 25%;
  left: 30%;
  width: 120px;
  transform: rotate(-15deg);
}
.logo-ted {
  top: 40%;
  right: 5%;
  width: 80px;
}
.logo-arton {
  top: 20%;
  right: 25%;
  width: 100px;
  transform: rotate(10deg);
}
.logo-designfro {
  top: 45%;
  left: 10%;
  width: 80px;
  transform: rotate(-5deg);
}