

.contact-section {
  padding: 6rem 4rem; 
  min-height: 100vh;
  display: flex; 
  align-items: center;
}


.mandala-top-right {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px; 
  opacity: 0.7;
  z-index: 0;
}

.mandala-bottom-left {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 200px; 
  opacity: 0.7;
  z-index: 0; 
}

.contact-text {
  font-family: 'Instrument Sans', sans-serif; 
  font-size: 1.7rem;
  line-height: 1;
  color: #000000;
  z-index: 1; 
  position: relative;
}


.form-wrapper {
  z-index: 1; 
  position: relative;
}

.form-title {
  font-family: 'Halant', serif; 
  font-weight: 600;
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
}

.form-subtitle {
  font-family: 'Instrument Sans', sans-serif; 
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}

.form-field {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  border-radius: 0 !important;
  padding: 0.5rem 0 !important;
  font-family: 'Instrument Sans', sans-serif; 
  color: #333 !important;
}

/* Focus hone par border color */
.form-field:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #E85A4F !important;
}


.form-field::placeholder {
  color: #999;
}


.submit-btn {
  background-color: #F15D2B !important; 
  border: none !important;
  border-radius: 25px !important;
  font-weight: bold;
  padding: 10px 30px;
}


.submit-btn:disabled {
  background-color: #aaa !important;
}


.contact-info {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Halant', serif; 
  font-size: 0.9rem;
  color: #F15D2B;
  font-weight: 800;
}