

.film-page-section {
  padding: 6rem 4rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-wrapper {
  margin-bottom: 4rem;
}
.quote-wrapper h2 {
  font-family: 'Island Moments', cursive; 
  font-size: 2.5rem;
  color: #333;
}
.title-underline {
  width: 100%;
  max-width: 800px;
  margin-top: -15px;
}

.content-row {
  z-index: 5;
  position: relative;
}


.film-card {
  background-color: #fff;
  padding: 15px;
  padding-bottom: 70px; 
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border: 1px solid #eee;
  position: relative;
  max-width: 400px; 
  margin: 0 auto;
}
.film-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
.film-caption h3 {
  font-family: 'Halant', serif;
  font-size: 1.5rem;
  color: #333;
}

.film-text {
  font-family: 'Instrument Sans', sans-serif; 
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}
.film-text ul {
  list-style: none;
  padding-left: 1rem;
  margin-top: 1rem;
}
.film-text li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.explore-now {
  display: block;
  align-items: center;
  margin-top: 2rem;
}
.explore-now span {
  font-family: 'Island Moments', cursive; 
  font-size: 1.8rem;
  color: #333;
  margin-right: 1rem;
}
.explore-now img {
  width: 50px;
}

.back-button {
  position: absolute;
  top: 8rem;
  left: 4rem;
  width: 100px;
  cursor: pointer;
  z-index: 10;
}
.deco-img {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}
.cam1 { top: 20%; right: 15%; width: 100px; }
.cam2 { top: 55%; right: 20%; width: 80px; }
.cam3 { bottom: 30%; left: 10%; width: 100px; }
.tripod { bottom: 15%; right: 25%; width: 80px; }